extends ../layout
block content
    .container
        .row
            form.form-horizontal(method='post', action='/admin/movie/new')
                input(type='hidden', name='movie[id]', value='#{movie.id}')
                .form-group
                    label.col-sm-3.control-label(for='inputTitle') Movie Name
                    .col-sm-10
                        input#inputTitle.form-control(type='text', name='movie[title]', value=movie.title)
                .form-group
                    label.col-sm-3.control-label(for='inputDirector') Movie Director
                    .col-sm-10
                        input#inputDirector.form-control(type='text', name='movie[director]', value=movie.director)
                .form-group
                    label.col-sm-3.control-label(for='inputCountry') Movie Country
                    .col-sm-10
                        input#inputCountry.form-control(type='text', name='movie[country]', value=movie.country)
                .form-group
                    label.col-sm-3.control-label(for='inputLanguage') Movie Lan
                    .col-sm-10
                        input#inputLanguage.form-control(type='text', name='movie[lan]', value=movie.lan)
                .form-group
                    label.col-sm-3.control-label(for='inputYear') Movie Year
                    .col-sm-10
                        input#inputYear.form-control(type='text', name='movie[year]', value=movie.year)
                .form-group
                    label.col-sm-3.control-label(for='inputDesc') Movie Desc
                    .col-sm-10
                        input#inputDesc.form-control(type='text', name='movie[desc]', value=movie.desc)
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit")录入
