extends ../layout
block content
    .container
        .row
            .col-md-7
                embed(src='#{movie.flash}', allowFullScreen='true', quality='high', width='720', height='600', align='middle', type='application/x-shockwave-flash')
            .col-md-5
                dl.dl-horizontal
                    dt Name
                    dd #{movie.title}
                    dt Director
                    dd #{movie.director}
                    dt Country
                    dd #{movie.Country}
                    dt Lan
                    dd #{movie.Lan}
                    dt Year
                    dd #{movie.Year}
                    dt Desc
                    dd #{movie.Desc}
